/* Global Setting */
body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  cursor: default;
}

input {
  border: none;
}

input[type=range] {
  border-collapse: red;
  cursor: grab;
}

select {
  border: solid 1px black;
  width: 60%;
  background-color: rgb(255, 244, 239);
  cursor: pointer;
}

/* Custom Setting */

.container-tier1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tier1-picture {
  width: 25%;
  height: 100vh;
  background-image: url("rodion-kutsaev-1137975-unsplash.jpg");
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position: 60% center;
}

.container-tier2 {
  width: 75%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(255, 244, 239);
}

.header-outer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.header-main-text {
  margin: 0px 0px 0px 8%;
  width: 92%;
  font-size: 30px;
  font-weight: 300;
}

.header-sub-text {
  margin: 0px 0px 0px 8%;
  width: 92%;
  font-size: 12px;
  font-weight: 200;
}

.header-widget-outer {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-widget {
  height: 4vh;
  width: 4vh;
  margin-left: 5%;
  background-position: center 60%;
  background-size: 80% auto;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #838580;
  border-width: 2px;
  cursor: pointer;
}

.header-widget:hover{
  border-color: black;
}

#widget-download {
  background-image: url("./icon/downloading-from-computing-cloud.svg");
}

#widget-upload {
  background-image: url("./icon/uploading-to-computing-cloud.svg");
}

#widget-undo {
  background-image: url("./icon/undo-arrow.svg");
}

#widget-redo {
  background-image: url("./icon/redo.svg");
}

#widget-refresh {
  background-image: url("./icon/refresh-page-option.svg");
}

.frame-outer {
  width: 100%;
  height: 55vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-outer {
  width: 88%;
  height: 30vh;
  border-top: solid 2px #92948F;
}

.widgets {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.widget-component {
  width: 5vh;
  height: 5vh;
  margin-left: 1%;
  margin-right: 1%;
  background-position: center 60%;
  background-size: 80% auto;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #838580;
  border-width: 2px;
}

.widget-component:hover{
  border-color: black;
}

.widget-in-active {
  border: solid 3px black;
}

#line-like-brush {
  background-image: url("./icon/pencil.svg");
}

#shape-like-brush {
  background-image: url("./icon/paint-tube.svg");
}

#eraser {
  background-image: url("./icon/eraser.svg");
}

#text {
  background-image: url("./icon/alpha.svg");
}

.setting-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 20vh;
  width: 100%;
}

.setting-column-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.setting-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  margin-right: 1%;
  width: 32%;
}

.setting-wrapper > p {
  margin: 0px 2% 0px 0px;
}